<h1>Hey</h1>

<!-- interpolação para fazer bind entre os html, scss, spec.ts e ts do componente -->
<!-- chama variável  {{title}}-->
{{title}}
<!-- Podemos usar getters aqui. -->


<!-- chamando um método  -->
{{somar()}}

<div class="azul">
  {{somar()}}
</div>

<button class="btn btn-secondary" (click)="onMeuBotaoClick()" [disabled]="isDesabilitado">Meu botao</button>
<br>
<input class="form-control" (keyup)="capturarDados($event.target.value)"/>

<p> {{nomeTeste }}</p>

<br>

<input [(ngModel)]="nomeTeste"  />

<app-primeiro></app-primeiro>


<app-home 
  [tituloFilho]="title"
  (emitirEvento)="receiveEmitirEvento($event)"

></app-home>


<!-- 
  [tituloFilho]="title" 
  Aqui, estamos usando o binding property.
  Estamos passando o valor da variável title do app.component para o home.component.
  Porém, precisa alterar lá também
  Do pai para o filho
-->

<!-- 
  (emitirEvento)="receiveEmitirEvento($event)"
  Aqui estamos usando o event binding.
  Estamos pegamos o evento "emitirEvento" criado no modulo filho com a anotação @Output()
  que está no módulo filho 'receiveEmitirEvento'
  Do filho para o pai
 -->

 <form [formGroup]="meuForm" (submit)="onEnviarFormClick()">
  <div class="form-group">
    <label for="nome">Nome: </label>
    <input type="text" class="form-control" id="inputNome" aria-describedby="nomeHelp" formControlName="nome">
    <small id="nomeHelp" class="form-text text-muted">We'll share your name. Period.</small>
  </div>

 <app-field-error
  [isShow]="isValid('nome')"
  [messageError]="'Erro ao preencher nome do aluno'"
  > </app-field-error>

  <div class="form-group">
    <label for="turma">Turma</label>
    <input type="text" class="form-control" id="inputTurma" formControlName="turma">
  </div>
  
  <app-field-error
  [isShow]="isValid('turma')"
  [messageError]="'Erro ao preencher turma do aluno'"
  > </app-field-error>

  <button type="submit" class="btn btn-primary" [disabled]="!meuForm.valid">Enviar</button>

</form>
