<div class="rounded-sm shadow m-2 p-3 border" style="width:250px;">
    <p class="text-muted">Resultado:</p>

    <small class="form-text text-muted">Touched: {{valueFieldDebug?.touched}}</small>
    <small class="form-text text-muted">Valid: {{valueFieldDebug?.valid}}</small>
    <small class="form-text text-muted">Status: {{valueFieldDebug?.status}}</small>
    <small class="form-text text-muted">Value: {{valueFieldDebug?.value}}</small>
    <small class="form-text text-muted">Dirty: {{valueFieldDebug?.dirty}}</small>    
    
</div>



