<p>home works!</p>

<p>home works!</p>

<table *ngIf="alunos.length > 1">
    <tr>
        <th>Matrícula</th>
        <th>Nome</th>
        <th>Turma</th>  
        <th>Ação</th>  
    </tr>

    <tr *ngFor="let a of alunos" >
        <td> {{ a?.matricula }} </td>
        <td>{{ a?.nome }}</td>
        <td>{{ a?.turma }}</td>
        <td><button (click)="onAlunoClick(a.matricula)">Selecione</button></td>
    </tr>

</table>
<br>
<button (click)="onEmitirEventoClick()" > Emitir Evento </button>


<br>
<h3>Detalhe do aluno abaixo: </h3>
<app-aluno-detalhe
[alunoFilho]="alunoPai"
>
</app-aluno-detalhe>
<!-- Usamos o proterty binding para passar dados do pai para o filho -->